# PgBouncer Helm Chart

This chart deploys a [PgBouncer](https://www.pgbouncer.org/) instance to your Kubernetes cluster via Helm.

## Configuration

The following table lists the configurable parameters of the PgBouncer chart and their default values.

{{ template "chart.valuesSection" . }}

## Example using ArgoCD
